<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>Shorting</title>
    <script src="../angular.js"></script>
    <script src="Script.js"></script>
    <link rel="stylesheet" href="../css/tableStyle.css">
    
</head>
<body>
    <div ng-controller="myController">
     <input type="checkbox" ng-model="hideSalary"> Hide Salary
      <table>
          <thead>
              <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>City</th>
              <th ng-hide="hideSalary">Salary</th>
          </tr>
          </thead>
          <tbody>
              <tr ng-repeat="employee in employees">
                  <td>{{employee.name}}</td>
                  <td>{{employee.gender | filterGender}}</td>
                  <td>{{employee.city}}</td>
                  <td ng-hide="hideSalary">{{employee.salary}}</td>
              </tr>
          </tbody>
      </table>
        
    </div>
</body>
</html>